<div class="grid-x grid-margin-x">
	<div class="large-12 column">
		{{> hero}}
	</div>
</div>
<div class="grid-x grid-margin-x">
	<div class="large-8 column">
		<div class="serv-cont">
			<h2>Automotive Paint Services</h2>

		<p>J&amp;B Automotive Restoration prides themselves in producing some of the highest quality paint jobs in the industry. When the process is done from start to finish on your classic car, we guarantee that paint job will last for years to come. We use top quality epoxy primers, polyester primers, along with the best basecoats and clearcoats to give your car a top of the line paint job.</p>
		<p></p>
		<h2>Bodywork</h2>

		<p>Body work is the foundation for a stunning paint job. We start with a freshly media blasted body, then we etch prime with two coats of epoxy for adhesion. We then put the whole car together to begin aligning and tweaking to ensure the body lines are straight. At times some welding may be required in order to fix gap issues that the vehicle may have aquired this is due to factory alignment when the car came off the production line. Our goal is to remove all waves, dents and creases out of the body of the vehicle with a minimal amount of body filler. Body filler is necessary in classic cars in order to get the body straight; it does not happen on it’s own. After all the body work is done the vehicle is then taken apart and then primed with high build primer.</p>
		<p></p>

		<h2>Metal Work And Panel Replacement</h2>

			<p>J&amp;B Automotive Restoration employs some of the best sheet metal restoration techs in the industry. Our techs are capable of replacing rusted panels to factory or better specs. If there is a part that can't be bought we can fabricate it ourselves. Whatever your sheet metal needs are, we got you covered.</p>

		</div>
	</div>

	<div class="large-4 column">
		<div class="servrgt-cont">

			

		</div>
	</div>
</div>
