<div class="grid-x grid-margin-x">
        <div class="large-12 cell">
          <div class="about-info">
            <section class="four-up-feature">
              <div class="row four-up-feature-header align-center">
                <div class="medium-8 columns">
                  <h2>Just a little bit about us.</h2>
                  <h5> We all love to build and restore american muscle cars and street rods<br>Feel free to give us a call! We love to talk cars.</h5>
                </div>
              </div>
              <div class="row align-spaced">
                <div class="small-10 medium-3 columns">
                  <img class="four-up-feature-image" src="/assets/img/j-mech.png" alt="icon">
                  <h4>John</h4>
                  <p class="four-up-feature-text">Bacon ipsum dolor amet biltong short ribs cupim brisket, prosciutto flank t-bone ball tip porchetta sirloin.</p>
                </div>
                <div class="small-10 medium-3 columns">
                  <img class="four-up-feature-image" src="https://placehold.it/125" alt="icon">
                  <h4>Billy</h4>
                  <p class="four-up-feature-text"> Leberkas jerky kevin doner pork loin ground round landjaeger chicken ham hock brisket bresaola shankle. </p>
                </div>
                <div class="small-10 medium-3 columns">
                  <img class="four-up-feature-image" src="https://placehold.it/125" alt="icon">
                  <h4>Guy on the couch</h4>
                  <p class="four-up-feature-text">Alcatra doner pastrami salami. Does your lorem ipsum text long for something a little meatier?</p>
                </div>
                <!--<div class="small-10 medium-3 columns">
                  <img class="four-up-feature-image" src="https://placehold.it/110" alt="icon">
                  <h4>Guy on the couch</h4>
                  <p class="four-up-feature-text">Alcatra doner pastrami salami. Does your lorem ipsum text long for something a little meatier?</p>
                </div>-->
              </div>
            </section>


          </div>
        </div>
