<div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <div class="center-wrapper">
          <div class="large-8 large-offset-4 cell">
            <div class="center-content">
              <p><h1>High Quality Classic Car Restorations</h1></p>
              <div class="large-10 large-offset-2 cell">
                <div class="center-content">
                  <div class="phone">
                    609-445-5308
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
