<div class="grid-x grid-margin-x">
  <div class="large-8 cell">
    <div class="main-info">
      <div class="large-12 cell">
       <!-- <div class="main-thead">
          <h3>Header Section</h3>
        </div>-->
      </div>
      <div class="main-body">
        <div class="article-row-section">
          <div class="article-row-section-inner">
           <!-- <h2 class="article-row-section-header">News</h2>-->
            <!--<a href="#">-->
              <article class="article-row">
                <!--<div class="article-row-img">
                  <img src="https://placehold.it/200x300" alt="" />
                </div>-->
                <div class="article-row-content">
                  <h1 class="article-row-content-header">Restorations</h1>
                    <hr>
                  <p class="article-row-content-description"><p><b>The time to restore your classic car is now.</b> You’ve been looking at the shiny cars at shows and in magazines. It’s time to stop turning your head every time you hear a car’s engine roar to life, and instead, you be the one making heads turn! And the best part? J&B Automotive Restorations' automotive restoration team makes restoring your dream car easier than you ever thought possible.</p>
                  <p>J&B Automotive Restoration is an auto restoration shop that is truly passionate about each and every classic car, antique car, and muscle car restoration project we build. We are known for our quality craftsmanship, upfront estimates and personal customer service. Our restoration team works with you to determine how you want your car restored.<br> We photograph and document each project so you can follow along with your automobile’s progress. We’re happy to spread your payment schedule throughout your auto restoration project.</p>
                  <!--<p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia sit ullam, assumenda et. est at. Minima cum enim, vero eligendi perspiciatis similique modi voluptatem officia fugiat.</p>-->
                </div>
              </article>
            <!--</a>-->

            <!--<a href="#">
              <article class="article-row article-row-reversed">
                <div class="article-row-img">
                  <img src="https://placehold.it/100" alt="" />
                </div>
                <div class="article-row-content">
                  <h1 class="article-row-content-header">Repairs</h1>

                  <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusamus sint quas, odit, enim architecto officiis culpa!</p>
                  <p class="article-row-content-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia sit ullam, assumenda et. est at. Minima cum enim, vero eligendi perspiciatis similique modi voluptatem officia fugiat.
                  </p>
                </div>
              </article>
            </a>-->
          </div>
        </div>
      </div>
  </div>
</div>
