<!--<div class="grid-x grid-margin-x">-->
  <div class="large-4 cell">
    <div class="rgt-side-info">
      <div class="large-12 cell">
        <div class="rgt-thead">
          <h3>Upcoming Events</h3>
          <hr>
        </div>
        <div large-12 cell>
          <div class="promo-box">
            <div class="promo-head">
              <p>Free E-Book</p>
            </div>
            <div class="promo-offer">
              <p>Pick up a free copy of our E-Book</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->