<!--<div class="grid-x grid-margin-x">-->
  <div class="large-4 cell">
    <div class="rgt-side-info">
      <div class="large-12 cell">
        <div class="rgt-thead">
          <h3>We know you're asking...</h3>
          <!--<hr>-->
        </div>
        <div large-12 cell>
          <div class="promo-box">
            <div class="promo-head">
              <p><i>HOW MUCH?</i></p>
            </div>
            <div class="promo-offer">
              <p>We have put together a free e-book with all the information you need and an approximate cost list to help you get a ball park cost on your particular project.</p>
            </div>
            <div class="promo-button">
              <a href=mailto:"ebook@jbautoresto.com">SEND EMAIL</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
